.container {
    animation: slide-up 0.666s;
    padding-left: 4%;
    padding-right: 4%;
}

.product-cards {
    display: block;
    max-width: 600px;
    margin: 1em auto;
}

.nothing-saved {
    animation: fade-in 0.75s ease-out;
    text-align: center;
}

@keyframes slide-up {
    0% { margin-top: 17vh; opacity: 0; }
    100% { margin-top: 0; opacity: 1; }
}
